body {
  background-color: white;
}

#nav-container{
  min-width: 90%;
}

#nav-container img{
  width: 200px;
  height: 200px;
}

#nav-bar {
  min-width: 1300px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#nav-bar ul li{
  float: right;
  width: 100px;
  height: 30px;
  background-color: white;
  opacity: .8;
  line-height: 30px;
  text-align: center;
  margin-right: 0px;
  text-decoration: none;
  color: black;
  display: block;
  border-radius: 0px;
}

#nav-bar ul li:hover{
  color: white;
  background: black;
}

.logo-box {
  position: fixed;
  color: white;
  top: 55px;
  border: 0px solid black;
  background-color: #1c1919;
  width: 1000px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -500px;
  /*add company logo*/
}

#logo-left-content p{
  margin-top: 25px;
  margin-left: 5px;
  font-family: serif;
}

.content_box{
  color: white;
  opacity: .8;
  background-color: black;
  width: 1000px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -275px;
  margin-left: -500px;
}

.content_box h1{
  margin-left: 5%;
  font-family: serif;
}
